@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@{
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.PageTitle)
        ? CurrentPage.Name
        : CurrentPage.PageTitle;

    <h1 class="text-center">@pageTitle</h1>
	<br/>    	
	<input type="text" ng-model="helloAngular" class="form-control input-sm">
	<p>Angular test: {{helloAngular}}</p>
	<p>@CurrentPage.BodyText</p>
}