@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@{
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.PageTitle)
        ? CurrentPage.Name
        : CurrentPage.PageTitle;

    <h1 class="text-center">@pageTitle</h1>
    <br/>

    <div ng-app="app">
        <script src="~/Scripts/app/genericApp.js"></script>
        <input type="text" data-ng-model="helloAngular" class="form-control input-sm" placeholder="Enter text here ...">
        <p>Angular test: {{helloAngular}}</p>
    </div> 	
	<p>@CurrentPage.BodyText</p>
}