@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@{
	var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.PageTitle)
		? CurrentPage.Name
		: CurrentPage.PageTitle;
	
	<h1>@pageTitle</h1>
	<p>@CurrentPage.BodyText</p>
}