<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT About ANY>
<!ATTLIST About id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1049" key="bc6db49b-d958-4ce4-8ddb-404733654ba5" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-01-26T20:54:01" updateDate="2016-01-27T20:12:03" nodeName="Home" urlName="home" path="-1,1049" isDoc="" nodeType="1046" creatorName="admin" writerName="admin" writerID="0" template="1048" nodeTypeAlias="Home">
    <pageTitle><![CDATA[Welcome to the Home page]]></pageTitle>
    <bodyText><![CDATA[<p style="text-align: center;"><span>Lorem ipsum dolor sit amet, netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.</span></p>
<p style="text-align: center;"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam molestie odio ut massa vehicula viverra. Nulla a enim massa. Proin semper, neque vitae laoreet volutpat, dolor elit dapibus urna, id pulvinar lectus dui vitae ligula. Aliquam sed porta diam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras ullamcorper ipsum sed nunc scelerisque scelerisque. Suspendisse sodales quam eget nulla elementum pretium. Vivamus consectetur luctus dui sit amet ultrices. Sed sed magna porta erat laoreet condimentum. Maecenas sollicitudin commodo massa nec blandit. Aliquam rhoncus magna nec elit placerat commodo. Aenean non ipsum sit amet dolor lacinia blandit. Nam condimentum odio faucibus tellus vestibulum et convallis enim consectetur. Etiam lacinia ornare orci aliquam pretium.</span></p>
<p style="text-align: center;"><span>Lorem ipsum dolor sit amet, netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.</span></p>]]></bodyText>
  </Home>
  <About id="1052" key="654daa48-ee9d-49d6-8774-4b4e00c860c1" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-01-27T20:18:15" updateDate="2016-01-27T20:30:17" nodeName="About" urlName="about" path="-1,1052" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="0" template="1050" nodeTypeAlias="About">
    <bodyText><![CDATA[<p style="text-align: center;"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam molestie odio ut massa vehicula viverra. Nulla a enim massa. Proin semper, neque vitae laoreet volutpat, dolor elit dapibus urna, id pulvinar lectus dui vitae ligula. Aliquam sed porta diam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras ullamcorper ipsum sed nunc scelerisque scelerisque. Suspendisse sodales quam eget nulla elementum pretium. Vivamus consectetur luctus dui sit amet ultrices. Sed sed magna porta erat laoreet condimentum. Maecenas sollicitudin commodo massa nec blandit. Aliquam rhoncus magna nec elit placerat commodo. Aenean non ipsum sit amet dolor lacinia blandit. Nam condimentum odio faucibus tellus vestibulum et convallis enim consectetur. Etiam lacinia ornare orci aliquam pretium.</span></p>
<p> <img style="width: 128px; height: 128px; display: block; margin-left: auto; margin-right: auto;" src="/media/1001/icon_0.png?width=128&amp;height=128" alt="" rel="1053" data-id="1053" /></p>
<p style="text-align: center;"><span>Lorem ipsum dolor sit amet, morbi tristique senectus et netus et malesuada fames ac turpis egestas.</span> </p>
<p> </p>]]></bodyText>
    <pageTitle><![CDATA[Welcome to the about page]]></pageTitle>
  </About>
</root>