<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1049" key="bc6db49b-d958-4ce4-8ddb-404733654ba5" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-01-26T20:54:01" updateDate="2016-01-26T20:57:34" nodeName="Home" urlName="home" path="-1,1049" isDoc="" nodeType="1046" creatorName="admin" writerName="admin" writerID="0" template="1048" nodeTypeAlias="Home">
    <pageTitle><![CDATA[Enter page title here]]></pageTitle>
    <bodyText><![CDATA[<p>Enter body text here.</p>]]></bodyText>
  </Home>
</root>